<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.event_management_app">

    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:label="Event App"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- ✅ LOGIN IS NOW LAUNCHER -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- Other Activities -->
        <activity android:name=".HomeActivity"/>
        <activity android:name=".OrganizerRegisterActivity"/>
        <activity android:name=".StudentRegisterActivity"/>
        <activity android:name=".AdminDashboard"/>
        <activity android:name=".OrganizerDashboard"/>
        <activity android:name=".StudentDashboard"/>
        <activity android:name=".CreateEventActivity"/>
        <activity android:name=".MyEventsActivity"/>
        <activity android:name=".StudentListActivity"/>
    </application>

</manifest>